<div class="container">
  <div class="col-md-7 mx-md-auto mt-5">
    <div class="card shadow">
      <div class="card-body">  
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Image:</strong>
            <%= image_tag(@book.image, style:'width:100%') %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Title:</strong>
            <%= @book.title %>
          </p>
        </div>

        <div class="form-group">
          <p class="card-title text-center">
            <strong>Author:</strong>
            <%= @book.author %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Date:</strong>
            <%= @book.date %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Description:</strong>
            <%= @book.description %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Isbn:</strong>
            <%= @book.isbn %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Total pages:</strong>
            <%= @book.total_pages %>
          </p>
        </div> 
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Preview-Pdf:</strong>
            <%#= link_to 'preview_pdf', "javascript:void(0)", class:'btn btn-primary'%>
            <%= @book.preview_pdf %>
          </p>
        </div>  
        <div class="form-group">
          <p class="card-title text-center">
            <strong>pdf:</strong>
            <%#= link_to 'pdf', "javascript:void(0)", class:'btn btn-primary'%>
            <%= @book.pdf_file %>
          </p>
        </div>

        <div class="form-group">
          <p class="card-title text-center">
            <%= link_to 'preview_pdf', "javascript:void(0)", class:'btn btn-primary'%>|
            <%= link_to 'pdf', "javascript:void(0)", class:'btn btn-primary'%>
          </p>
          
        </div>
       
      <div class="card-body"> 
    </div>
  </div>
</div>        