<div class="container">
  <div class="col-md-7 mx-md-auto mt-5">
    <div class="card shadow">
      <div class="card-body">
        <div class="form-group">
          <p class="card-title text-center">
            <!-- <strong>Image:</strong> -->
            <%= image_tag(@book.image, style:'width:100%') %>
          </p>
        </div>  
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Title:</strong>
            <%= @book.title %>
          </p>
        </div>

        <div class="form-group">
          <p class="card-title text-center">
            <strong>Category:</strong>
            <%= @book.category %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Language:</strong>
            <%= @book.language %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Author:</strong>
            <%= @book.author %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Date:</strong>
            <%= @book.date %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Description:</strong>
            <%= @book.description %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Isbn:</strong>
            <%= @book.isbn %>
          </p>
        </div>
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Total pages:</strong>
            <%= @book.total_pages %>
          </p>
        </div> 
        <div class="form-group">
          <p class="card-title text-center">
            <strong>Preview-Pdf:</strong>
            <%= @book.preview_pdf %>
          </p>
        </div>  
        <div class="form-group">
          <p class="card-title text-center">
            <strong>pdf:</strong>
            <%= @book.pdf_file %>
          </p>
        </div>
        <%#= link_to "My document", @book.pdf_file.url, target: "_blank" %>
        <div class="form-group">
          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary btn-lg btn-block' %> <br>
          <%= link_to 'Back', books_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>

      <div class="card-body"> 
    </div>
  </div>
</div>        